* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("https://media.istockphoto.com/photos/colorful-ice-cream-scoops-background-picture-id920706624?k=6&m=920706624&s=612x612&w=0&h=V2QqWi-yOHEaWXpQR2kPFCKELKodCKG9-qObRgjKfbk=");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.containers1 {
  text-align: center;
  margin-bottom: 30px;
}

.containers {
  font-family: "Ubuntu", sans-serif;
  background-color: #f5f5f56b;
  border: 8px double rgb(255, 0, 200);
  border-radius: 40px;
  margin: 169px auto;
  padding: 51px 51px;
  width: 550px;
}

.classForms {
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  font-weight: bold;
}

.buttonClass {
  line-height: 2em;
}

input[type="submit"],
input[type="reset"] {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  color: rgb(0, 0, 0);
  border-width: 6px;
  border-color: #f18bae33 ;
  border-radius: 13px;
  padding: 8px 8px;
  margin: 14px 50px;
  /* background-color: #ffcfdf;
background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%); */
background-color: #eec0c6;
background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);

  font-family: "Ubuntu", sans-serif;
  /* border-bottom: 5px solid gray; */
  box-shadow: 6px 1px 15px 7px #b85454; /* offset-x | offset-y | blur-radius | spread-radius | color */
   transition: 250s ease; /*transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay]; */
}

input[type="submit"]:active, .resetBtn:active {
  border: none;
  /* background: linear-gradient(#fcf267, #9198e5); */
  background-color: #861657;
background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
}